# This Project will Predect Models and Make key financial decisions

In [1]:
import pandas as pd
sl = pd.read_csv ('/content/drive/MyDrive/Projects_Datasets/500000 Sales Records.csv')
sl

                                  Region  ... Total Profit
0                     Sub-Saharan Africa  ...    597290.92
1                                 Europe  ...    808579.10
2                                 Europe  ...    277305.60
3                                 Europe  ...    413270.00
4                                 Europe  ...    174965.25
...                                  ...  ...          ...
49995  Central America and the Caribbean  ...    524354.20
49996  Central America and the Caribbean  ...    732628.75
49997                               Asia  ...     42050.68
49998                 Sub-Saharan Africa  ...    353980.80
49999                 Sub-Saharan Africa  ...    251446.79

[50000 rows x 14 columns]

In [2]:
sl.describe()

           Order ID   Units Sold  ...    Total Cost  Total Profit
count  5.000000e+04  50000.00000  ...  5.000000e+04  5.000000e+04
mean   5.497330e+08   4999.61898  ...  9.331574e+05  3.905587e+05
std    2.609179e+08   2884.33508  ...  1.145548e+06  3.777588e+05
min    1.000132e+08      1.00000  ...  2.076000e+01  7.230000e+00
25%    3.240070e+08   2498.00000  ...  1.606370e+05  9.415092e+04
50%    5.504224e+08   5017.50000  ...  4.671040e+05  2.795364e+05
75%    7.767824e+08   7493.25000  ...  1.190390e+06  5.642867e+05
max    9.999995e+08  10000.00000  ...  5.249075e+06  1.738178e+06

[8 rows x 7 columns]

In [ ]:
sl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          50000 non-null  object
 1   Country         50000 non-null  object
 2   Item Type       50000 non-null  object
 3   Sales Channel   50000 non-null  object
 4   Order Priority  50000 non-null  object
 5   Order Date      50000 non-null  object
 6   Order ID        50000 non-null  int64
 7   Ship Date       50000 non-null  object
 8   Units Sold      50000 non-null  int64
 9   Unit Price      50000 non-null  float64
 10  Unit Cost       50000 non-null  float64
 11  Total Revenue   50000 non-null  float64
 12  Total Cost      50000 non-null  float64
 13  Total Profit    50000 non-null  float64
dtypes: float64(5), int64(2), object(7)
memory usage: 5.3+ MB

In [ ]:
sl.shape

(50000, 14)

In [ ]:
sl.columns

Index(['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority',
       'Order Date', 'Order ID', 'Ship Date', 'Units Sold', 'Unit Price',
       'Unit Cost', 'Total Revenue', 'Total Cost', 'Total Profit'],
      dtype='object')

In [3]:
sl.isna()

       Region  Country  Item Type  ...  Total Revenue  Total Cost  Total Profit
0       False    False      False  ...          False       False         False
1       False    False      False  ...          False       False         False
2       False    False      False  ...          False       False         False
3       False    False      False  ...          False       False         False
4       False    False      False  ...          False       False         False
...       ...      ...        ...  ...            ...         ...           ...
49995   False    False      False  ...          False       False         False
49996   False    False      False  ...          False       False         False
49997   False    False      False  ...          False       False         False
49998   False    False      False  ...          False       False         False
49999   False    False      False  ...          False       False         False

[50000 rows x 14 columns]

In [ ]:
sl.isna

<bound method DataFrame.isna of                                   Region  ... Total Profit
0                     Sub-Saharan Africa  ...    597290.92
1                                 Europe  ...    808579.10
2                                 Europe  ...    277305.60
3                                 Europe  ...    413270.00
4                                 Europe  ...    174965.25
...                                  ...  ...          ...
49995  Central America and the Caribbean  ...    524354.20
49996  Central America and the Caribbean  ...    732628.75
49997                               Asia  ...     42050.68
49998                 Sub-Saharan Africa  ...    353980.80
49999                 Sub-Saharan Africa  ...    251446.79

[50000 rows x 14 columns]>

In [4]:
sl.head()

               Region   Country  ...  Total Cost Total Profit
0  Sub-Saharan Africa   Namibia  ...  1811154.16    597290.92
1              Europe   Iceland  ...  1344707.70    808579.10
2              Europe    Russia  ...  1768017.12    277305.60
3              Europe  Moldova   ...  2634885.25    413270.00
4              Europe     Malta  ...   231292.25    174965.25

[5 rows x 14 columns]

#Handling Missing Values

In [9]:
sl.isna().sum()

Region            0
Country           0
Item Type         0
Sales Channel     0
Order Priority    0
Order Date        0
Order ID          0
Ship Date         0
Units Sold        0
Unit Price        0
Unit Cost         0
Total Revenue     0
Total Cost        0
Total Profit      0
dtype: int64

In [10]:
Sales = sl.copy(deep=True)
Sales

                                  Region  ... Total Profit
0                     Sub-Saharan Africa  ...    597290.92
1                                 Europe  ...    808579.10
2                                 Europe  ...    277305.60
3                                 Europe  ...    413270.00
4                                 Europe  ...    174965.25
...                                  ...  ...          ...
49995  Central America and the Caribbean  ...    524354.20
49996  Central America and the Caribbean  ...    732628.75
49997                               Asia  ...     42050.68
49998                 Sub-Saharan Africa  ...    353980.80
49999                 Sub-Saharan Africa  ...    251446.79

[50000 rows x 14 columns]

In [11]:
Sales.columns

Index(['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority',
       'Order Date', 'Order ID', 'Ship Date', 'Units Sold', 'Unit Price',
       'Unit Cost', 'Total Revenue', 'Total Cost', 'Total Profit'],
      dtype='object')

In [12]:
Sales.isna().sum()

Region            0
Country           0
Item Type         0
Sales Channel     0
Order Priority    0
Order Date        0
Order ID          0
Ship Date         0
Units Sold        0
Unit Price        0
Unit Cost         0
Total Revenue     0
Total Cost        0
Total Profit      0
dtype: int64

In [ ]:
y = Sales

In [ ]:
Sales.columns

Index(['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority',
       'Order Date', 'Order ID', 'Ship Date', 'Units Sold', 'Unit Price',
       'Unit Cost', 'Total Revenue', 'Total Cost', 'Total Profit'],
      dtype='object')

In [ ]:
Sales_features = ('Item Type', 'Sales Channel', 'Unit Price')

In [13]:
Sales.describe()

           Order ID   Units Sold  ...    Total Cost  Total Profit
count  5.000000e+04  50000.00000  ...  5.000000e+04  5.000000e+04
mean   5.497330e+08   4999.61898  ...  9.331574e+05  3.905587e+05
std    2.609179e+08   2884.33508  ...  1.145548e+06  3.777588e+05
min    1.000132e+08      1.00000  ...  2.076000e+01  7.230000e+00
25%    3.240070e+08   2498.00000  ...  1.606370e+05  9.415092e+04
50%    5.504224e+08   5017.50000  ...  4.671040e+05  2.795364e+05
75%    7.767824e+08   7493.25000  ...  1.190390e+06  5.642867e+05
max    9.999995e+08  10000.00000  ...  5.249075e+06  1.738178e+06

[8 rows x 7 columns]

In [14]:
Sales.head()

               Region   Country  ...  Total Cost Total Profit
0  Sub-Saharan Africa   Namibia  ...  1811154.16    597290.92
1              Europe   Iceland  ...  1344707.70    808579.10
2              Europe    Russia  ...  1768017.12    277305.60
3              Europe  Moldova   ...  2634885.25    413270.00
4              Europe     Malta  ...   231292.25    174965.25

[5 rows x 14 columns]

In [16]:
drop_missing_values=sl.dropna()
drop_missing_values

                                  Region  ... Total Profit
0                     Sub-Saharan Africa  ...    597290.92
1                                 Europe  ...    808579.10
2                                 Europe  ...    277305.60
3                                 Europe  ...    413270.00
4                                 Europe  ...    174965.25
...                                  ...  ...          ...
49995  Central America and the Caribbean  ...    524354.20
49996  Central America and the Caribbean  ...    732628.75
49997                               Asia  ...     42050.68
49998                 Sub-Saharan Africa  ...    353980.80
49999                 Sub-Saharan Africa  ...    251446.79

[50000 rows x 14 columns]

In [62]:
drop_missing_values = sl.rename(columns = {"Unit Price":"Price","Unit Cost":"Cost", "Total Revenue":"Revenue"})
drop_missing_values

                                  Region  ... Total Profit
0                     Sub-Saharan Africa  ...    597290.92
1                                 Europe  ...    808579.10
2                                 Europe  ...    277305.60
3                                 Europe  ...    413270.00
4                                 Europe  ...    174965.25
...                                  ...  ...          ...
49995  Central America and the Caribbean  ...    524354.20
49996  Central America and the Caribbean  ...    732628.75
49997                               Asia  ...     42050.68
49998                 Sub-Saharan Africa  ...    353980.80
49999                 Sub-Saharan Africa  ...    251446.79

[50000 rows x 14 columns]

In [63]:
drop_missing_values.columns

Index(['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority',
       'Order Date', 'Order ID', 'Ship Date', 'Units Sold', 'Price', 'Cost',
       'Revenue', 'Total Cost', 'Total Profit'],
      dtype='object')

In [64]:
drop_missing_values.shape

(50000, 14)

In [65]:
drop_missing_values.columns

Index(['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority',
       'Order Date', 'Order ID', 'Ship Date', 'Units Sold', 'Price', 'Cost',
       'Revenue', 'Total Cost', 'Total Profit'],
      dtype='object')

#Data Prediction using **dot notation**

In [66]:
melb_data = drop_missing_values
melb_data

                                  Region  ... Total Profit
0                     Sub-Saharan Africa  ...    597290.92
1                                 Europe  ...    808579.10
2                                 Europe  ...    277305.60
3                                 Europe  ...    413270.00
4                                 Europe  ...    174965.25
...                                  ...  ...          ...
49995  Central America and the Caribbean  ...    524354.20
49996  Central America and the Caribbean  ...    732628.75
49997                               Asia  ...     42050.68
49998                 Sub-Saharan Africa  ...    353980.80
49999                 Sub-Saharan Africa  ...    251446.79

[50000 rows x 14 columns]

In [67]:
y = melb_data.Price

In [68]:
melb_data.columns

Index(['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority',
       'Order Date', 'Order ID', 'Ship Date', 'Units Sold', 'Price', 'Cost',
       'Revenue', 'Total Cost', 'Total Profit'],
      dtype='object')

In [69]:
melb_features = ["Price", "Cost", "Revenue"]

In [72]:
X = melb_data[melb_features]

In [73]:
X.describe()

              Price          Cost       Revenue
count  50000.000000  50000.000000  5.000000e+04
mean     265.651350    187.322482  1.323716e+06
std      216.916752    175.580570  1.463891e+06
min        9.330000      6.920000  2.799000e+01
25%       81.730000     35.840000  2.764871e+05
50%      154.060000     97.440000  7.813247e+05
75%      421.890000    263.330000  1.808642e+06
max      668.270000    524.960000  6.682032e+06

In [77]:
X.head()

    Price    Cost     Revenue
0  668.27  502.54  2408445.08
1  255.28  159.42  2153286.80
2  421.89  364.69  2045322.72
3  421.89  364.69  3048155.25
4  205.70  117.11   406257.50

In [78]:
from sklearn.tree import DecisionTreeRegressor

In [81]:
melb_model = DecisionTreeRegressor(random_state=1)
melb_model.fit(X,y)

DecisionTreeRegressor(random_state=1)

In [83]:
melb_model.predict(X.head())

array([668.27, 255.28, 421.89, 421.89, 205.7 ])

In [87]:
print("Making predictions for the following 5 Item types:")
print(X.head())
print("The predictions are")
print(melb_model.predict(X.head()))

Making predictions for the following 5 Item types:
    Price    Cost     Revenue
0  668.27  502.54  2408445.08
1  255.28  159.42  2153286.80
2  421.89  364.69  2045322.72
3  421.89  364.69  3048155.25
4  205.70  117.11   406257.50
The predictions are
[668.27 255.28 421.89 421.89 205.7 ]

In [85]:
X.to_csv("melb_features.csv", index=False)